

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;;
}
header{
    width:100vw;
    height:100vh;
    background-image: url(./images/halloween-head.webp);
    background-position:bottom;
    background-size:cover;
    display:flex;
    align-items:center;
    justify-content: center;

}

a:hover {
    color: white;
}

body , html{
    overflow-x: hidden; /*hidden scroll bar left-right*/
}
a{
    text-decoration: none;
}

/*nav bar*/
ul{
    list-style: none;
}

.navbar{
    position:absolute;
    top:0;
    left:0;
    display:flex;
    width:100%;
    justify-content: space-between;
    padding:18px;
    color:whitesmoke
}

.logo{
  width: 40px;
  height:35px;
  border-radius: 40px;

}

.link-bar{
    display:flex;
    align-items: center;

}

.link-bar li{
    margin:auto 20px;
    cursor:pointer;
}

.link-bar li:hover{
    color:#C689C6;
    
    
}

.head-container{
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
}

.head-container h2{
    font-size:3vmin;
    font-style: italic;
}
.head-container h1{
    font-size: 5vmin;
    margin-top:35px;
    margin-bottom: 25px;
}

.btn{
    padding:10px 15px;
    background: purple;
    border-radius: 25px;
    color:white;
}

.

.btn:hover{
    background-color: #C689C6;
   
}

.stripes-button{
    position: absolute;
   width:25px;
    top:20px;
    right:20px;
    cursor:pointer;
    display: none;
}

#slime {
    height: 270px;
    width: 1450px;
}

/*events*/
section{
    width:80%;
    margin:70px auto;
    text-align: center;
}

.events{
    font-size:3vmin;
    color:purple;
}

.col img{
    width:50vmin;
    height:40vmin;
   
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.halloween-events .row{
margin-top: 50px;

}

.row .col{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.halloween-events .btn{
  margin-top: 20px;
}
h4{
    font-size: 3vmin;
    color:purple;
    margin:20px auto;
}

p{
    color:black;
    padding:0px 50px;
}

/* cotact*/
.contact {
   height: 500px;
  width: 600px;
  background-color: whitesmoke;
  margin: auto;
  text-align: left;
  width:300px;
  display: flex;
  flex-direction: column;
}

.one, .two {
    width:300px;
    display: flex;
    flex-direction: column;    
}


/* footer */
footer {
    height:200px; 
    text-align:center; 
}

/* for mobile device*/

@media only screen and (max-width:850px){
    .navbar{
       padding:0;
    }
   
    p{
        padding:0px 20px;
    }

    .row{
        display: block;
        align-items: center;
    }

    .halloween-events .row{
        margin-top: 0px;
    }

    .stripes-button{
        display: block;
        justify-content: space-between;
    }

    .col img{
        margin:30px auto;
    }

    .logo{
        position:absolute;
        top:20px;
        left:10px;
    }

    .link-bar{
        flex-direction: column;
       width: 100%;
       height:100vh;
       justify-content: center;
       background-color:#16213E ;
       opacity: 0.99;
       margin-top:-900px;  /* make the nav-bar go at the top*/
       transition-duration: 1s;
       transition-timing-function: ease-in-out;
       
    }
    .mobile-button{
        margin-top:0;
    }

    .link-bar li{
        margin:25px auto;
    }
 
}